
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color:rgba(24, 24, 24, 1);
}
.section-description{
    font-size: 18px;
    color: rgba(117, 117, 117, 1);

}

.secondary-bg{
    background-color:#FFF8F3
}
.header{
    background-image: url('../images/Rectangle\ 2.png');
}
.header-contain{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right, center;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0px 200px 0px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin: 51px;
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
}
.dark-2{
    color: #474747;
}




.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    max-width: 580px;
    margin: 0px 35px 0px 200px;
    
}

.banner-title{
    color: rgba(71, 71, 71, 1);

font-family: Open Sans;
font-style: SemiBold;
font-size: 45px;
font-weight: 600;
line-height: 61px;
letter-spacing: 0%;
text-align: left;
}
.banner-subtitle{
    color: rgba(24, 24, 24, 1);

font-family: Open Sans;
font-style: Bold;
font-size: 85px;
font-weight: 700;
line-height: 116px;
letter-spacing: 0%;
text-align: left;
}
.description{
    color: rgba(117, 117, 117, 1);

font-family: Open Sans;
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}

main{
max-width: 1140px;
margin: 0 auto;
}
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-items{
    display:flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}